.flex-container {
    border: 1px solid red;
}

#hat1, #hat2, #hat3, #hat4 {
    border: 1px solid red; 
    text-align: center;
    align-items: center;
    align-content: space-between;
}

table, td {
    border: 1px solid red;
}